@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap'); 

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

::placeholder {
  color: #FFF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #FFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:  #FFF;
}

p {
  margin:0;
}

.input {
  border: none;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  background: #65868533;
  color: #FFF;
  transition: 400ms;
}

.input:focus {
  outline: none;
  transform: scale(1.03);
}

.link {
  color: #FFF;
  transition: 400ms;
  font-size: 14px;
  text-decoration: none;
  transition: 400ms;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #37AAA6;
}

.link:focus {
  outline: none;
  cursor: pointer;
  text-decoration: underline;
  color: #37AAA6;
}

.linkButton {
  composes: link;
  background: transparent;
  width: fit-content;
  border: 0;
}

.button {
  border: 1px solid #37AAA6;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  background: #37AAA6;
  color:  #FFF;
  padding: 15px;
  transition: 400ms;
  font-weight: 500;
  font-size: 14px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.button:focus {
  outline: #37AAA6;
  transform: scale(1.03);
}

