.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(93,93,93,1) 100%); 
}

.loginWrapper {
  background: #65868533; 
  box-shadow: 0px 0px 100px 50px rgba(55,170,166,0.5);
  border-radius: 0;
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mobileDataContainer {
  align-content: center;
} 

.desktopDataContainer {
  display: none;
}

.logo {
  width: 150px;
  margin-bottom: 30px;
}

.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.dataFirstLine {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.dataSecondLine {
  color: rgb(55, 170, 166);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}


@media only screen and (min-width: 1100px) {
  .container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(93,93,93,1) 100%); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .loginWrapper {
    background: #65868533; 
    box-shadow: 0px 0px 100px 50px rgba(55,170,166,0.5);
    border-radius: 4px;
    height: 412px;
    width: calc(33.3vw);
    min-width: 300px;
    padding: 30px 50px 50px 50px;
  }

  .mobileDataContainer {
    display: none;
  } 
  
  .desktopDataContainer {
    display: flex;
    flex-direction: column;
  }

  .dataFirstLine {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  .dataSecondLine {
    color: rgb(55, 170, 166);
    font-weight: 500;
    font-size: 40px;
    text-align: left;
  }
} 